/*VARIABLES & BASICS*/
:root {
    --colour-background: black;
    --colour-foreground: white;
    --colour-accent: aquamarine;
    --gap-base: 1rem;
}

html {
    font-size: 100%; /*16px based on stock standard browser defaults*/
}

/*STYLING*/
body {
    background: var(--colour-background);
    color: var(--colour-foreground);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 50px; /*todo: update to em equiv*/
    font-weight: normal;
}

a:link {
    color: var(--colour-accent);
}

/*LAYOUT*/
.hero video {
    display: block;
    margin: calc(var(--gap-base) * 1.5) auto;
}